<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <a href="/"><button>Home</button></a>
    <a href="/blogs"><button>Blog Archive</button></a>
    <a href="/authors"><button>Meet the authors</button></a>
    <a href="/authors/new_author"><button>Become an author</button></a>