<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
  </head>
  <body>
    <h1 class="title">Blog Central</h1>
    <div class="nav">
      <a href="/"><button class="btn btn-danger">Home</button></a>
      <a href="/blogs"><button class="btn btn-danger">Blog Archive</button></a>
      <a href="/authors"><button class="btn btn-danger">Meet the authors</button></a>
      <a href="/authors/new_author"><button class="btn btn-danger">Become an author</button></a>
    </div>
    <div class="container">