<!DOCTYPE>
<html>
  <head>
  </head>
  <body>
    <form method="post" action="/">
      <input type="text" name="author" placeholder="author"></input>
      <input type="text" name="posts" placeholder="post"></input>
      <input type="submit"></input>
    </form>
    <ul>
      <% authors.forEach(function(author) {%>
        <li><%= author.dataValues.name %> <%= author.dataValues.id %></li>
    <% }) %>
    </ul>
  </body>
</html>