<%- include ./__header.ejs %>

<% if (!isAuthenticated) { %>
  <p class="mustlogin">You must be logged in to view this page</br>
    <a href="/login">Login here</a>
  </p>
<% } else { %>

  <h1 class="breaking">BREAKING NEWS</h1>
  <h1 class="news">Creator of this page is lazy</h1>
<% } %>

<%- include ./__footer %>
