<%- include ../__header.ejs %>

  <h2 class="subtitle">All Authors</h2>
  <div class="all">
  <ul>
    <% authors.forEach(function(author){ %>
      <h1 class="generatelist"><li> <a href="/authors/<%= author.dataValues.id %>" ><%= author.dataValues.username %></a></li></h1>
    <% }) %>
  </ul>
  </div>

<%- include ../__footer.ejs %>