<%- include ../__header.ejs %>

<% if (!isAuthenticated) { %>
  <p class="mustlogin">You must be logged in to view this page</br>
    <a href="/login">Login here</a>
    <a href="/signup">Sign Up</a>
  </p>
<% } else { %>
  <h2 class="subtitle">All Authors</h2>
  <div class="all">
  <ul>
    <% authors.forEach(function(author){ %>
      <h1 class="generatelist"><li> <a href="/authors/<%= author.dataValues.id %>" ><%= author.dataValues.username %></a></li></h1>
    <% }) %>
  </ul>
  </div>
<% } %>
<%- include ../__footer.ejs %>