<%- include ../__header.ejs %>

<form method="post" action="/authors">
  <input type="text" name="author[firstname]"></input>
  <input type="text" name="author[lastname]"></input></br>
  <button> "Author"ize!! </button>
</form>

<%- include ../__footer.ejs %>