<%- include ../__header.ejs %>
<% if (!isAuthenticated) { %>
  <p class="mustlogin">You must be logged in to view this page</br>
    <a href="/login">Login here</a>
  </p>
<% } else { %>
  <h2 class="subtitle">Become an author</h2>

<!--   <form class="editform" method="post" action="/authors">
    <input class="edittitle" type="text" name="author[firstname]" placeholder="First Name"></input>
    <input class="edittitle" type="text" name="author[lastname]" placeholder="Last Name"></input></br>
    <button class="btn btn-danger authorbtn"> Authorize! </button>
  </form> -->

  <form action="/create" method = "post">
    <p>
      <label for="username">Username: </label> <input type="text" name="username" id="username" autofocus>
    </p>
    <p>
    <label for="password">Password: </label> <input type="password" name="password" id="password">
    </p>
    <p>
    <input type="submit" value="Sign up!">
    </p>

    <a href="/login">Already have an account? Log in here</a>
  </form>
<% } %>

<%- include ../__footer.ejs %>